##Template file waveform


record(waveform, "$(P):WAVEFORM:${channel}")
{
    field(PINI, "1")
    field(DTYP, "asynInt16ArrayIn")
    field(INP, "@asyn($(PORT),$(ADDR),$(TIMEOUT))WAVEFORM:$(channel)")
    field(FTVL, "SHORT")
    field(NELM, "$(WAVEFORM_SIZE)")
    field(FLNK, "$(P):SUBARRAY:${channel} PP")
    field(SCAN, "I/O Intr")
  }


record(subArray, "$(P):SUBARRAY:${channel}")
{
  field(INP, "$(P):WAVEFORM:${channel}.VAL")
  field(FTVL, "SHORT")
  field(MALM, "$(WAVEFORM_SIZE)")
  field(NELM, "25000")
  field(INDX, "0")
  field(SCAN, "Passive")
  }


record(longin, "$(P):BEGIN:ADDR:${channel}")
{
    field(DTYP, "asynInt32")
    field(INP, "@asyn($(PORT), $(ADDR), $(TIMEOUT))BEGIN_ADDR${channel}")
    field(SCAN, "I/O Intr")
  }


record(longin, "$(P):END:ADDR:${channel}")
{
    field(DTYP, "asynInt32")
    field(INP, "@asyn($(PORT), $(ADDR), $(TIMEOUT))END_ADDR${channel}")
    field(SCAN, "I/O Intr")
  }


record(ao, "$(P):WORD:COUNT:${channel}")
{
    field(SCAN, "Passive")
    field(OUT, "$(P):INIT:SEQ:${channel}  PP")
  }


record(seq, "$(P):INIT:SEQ:${channel}")
{
    field(SCAN, "Passive")
    field(DOL1, "$(P):WORD:COUNT:${channel}")
    field(LNK1, "$(P):FANOUT:BUFFER:${channel} PP")
    field(DO2, "1")
    field(LNK2, "$(P):WEB:INIT:${channel} PP")
  }


record(dfanout, "$(P):FANOUT:BUFFER:${channel}")
{
    field(SCAN, "Passive")
    field(OUTA, "$(P):BUFFER:RBV:${channel} PP")
    field(OUTB, "$(P):TO:DIV:${channel}.A PP")
    field(OUTC, "$(P):WEB:INIT:${channel}.A PP")
  }


record(ai, "$(P):BUFFER:RBV:${channel}")
{
    field(SCAN, "Passive")
  }


record(calcout, "$(P):TO:DIV:${channel}")
{
    field(SCAN, "Passive")
    field(CALC, "A/2")
    field(OUT, "$(P):BUFFER:SIZE PP")
  }


record(ao, "$(P):STARTING:LOC:${channel}")
{
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR),$(TIMEOUT))START_LOC${channel}")
    field(SCAN, "Passive")
}


record(ao, "$(P):ENDING:LOC:${channel}")
{
    field(DTYP, "asynFloat64")
    field(OUT, "@asyn($(PORT),$(ADDR),$(TIMEOUT))END_LOC${channel}")
    field(SCAN, "Passive")
}


record(ai, "$(P):BEAM:LOSS:LOC:${channel}")
{
    field(DTYP, "asynFloat64")
    field(INP, "@asyn($(PORT),$(ADDR),$(TIMEOUT))BEAM_LOSS_LOC${channel}")
    field(SCAN, "I/O Intr")
}